body {
  margin: 0;
  margin-top: 10px;
  font-family: arial, sans-serif;
}

h1 {
  font-style: italic;
  margin-bottom: 10px;
}

ul {
  list-style: none;
}

.nav-select {
  background-color: cornflowerblue;
}

.navigation {
  width: 100%;
  height: 40px;
  background-color: #eee;
}

.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation li {
  float: left;
}


.navigation li a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  width: 100px;
  height: 20px;
  line-height: 20px;
  padding: 10px;
  display: block;
  text-align: center;
}

.navigation li a:hover {
  background-color: #ddd;
}

.navigation li a.selected {
  background-color: #ccc;
}

#container {
  clear: both;
  margin-top: 10px;
}

#searchbox {
  margin-bottom: 20px
}
.vaultfile {
  clear: both;
  padding: 5px;
  min-height: 100px;
  width: 60%;  
  background-color: lightblue; 
  margin-bottom: 20px ;
  display: flex;
  align-items: center;
}

.vaultfile .filename {
  margin-left: 110px;
}

.vaultfile .thumbnail {
  float: left;  
  clear: left;
  height: 100px;
  width: 100px;
}

.vaultfile .fileview {
   padding-left: 50px;  
   font-style: italic;
   margin-left: auto;
}

#welcome {
  margin-left: 40px;
  display: flex;
  align-items: center;
  clear: both;
  margin-bottom: 20px ;
  width: 60%;
  background-color: lightblue;
}

#welcome-img {
  margin-left: auto;
}

#welcome-message {
  font-weight: 200;
  padding-left: 50px
}

form {
  margin: 10px;
}

input {
  width: 360px;
  display: block;
  font-size: 13px;
  padding: 5px;
  margin-bottom: 5px;
}

input[type=url] {
  display: inline
}

input[type=url]:focus {
  outline: none;
}


.error {
  border: red solid 4px;
  padding: 10px;
  margin: 0 10px;
}

.clean {
  border: #efe solid 2px;
  padding: 10px;
  margin: 0 10px;
}

.creator {
  height: 50px;
}

.creator form {
  float: left;
  height: 80px;
}

.creator img.spinner {
  height: 46px;
  margin-bottom: 5px;
  padding: 10px;
  display: none;
}

.creator .message {
  clear: both;
}

#main-icon {
  width: 218px;
  height: 147px;
}

.form-group {
  display: flex;
  align-items: center;
  margin: 20px;
  min-height: 20px;
  width: 500px;
}

.form-input {
  background-color: lightblue;
  margin-left: auto
}

#signin-button {
 font-weight: 100;
 font-size: 15pt;
 background-color: lightblue;
 margin-left: 200px;
 min-height: 100px;
 min-width: 200px;
 border-radius: 15%
}

#server-connection {
	border-radius: 50%;
	width: 20px;
	height: 20px; 
  margin-right: 10px
}

.connection-error { background-color: red; }
.connection-ok { background-color: green; }
.connection-testing { background-color: yellow; }
.connection-none { background-color: white; }

.slack-group {
  display: flex;
  align-items: center;
  margin: 20px;
  min-height: 20px;
  width: 100%;
}

.slack-input {
  width: 25%
}

#slack-submission {
  display: flex;
  align-items: center;
  margin: 20px;
  min-height: 20px;
  width: 30%;
}

#slack-submission a {
  margin-left: auto  
}