<div id='signin'>
  <form name="signinForm" ng-submit='signin()'>
  <div class="form-group">
      <div id='server-connection' ng-class='connectionstatus'></div>
      <label for="user-server">Server: </label>
      <input class='form-input' name="user-server" type='text' ng-model='user.server' required ng-model-options="{ debounce: 2000 }" ng-change="contactServer()" />
  </div>
  <div class="form-group">
      <label for="user-name">User name: </label>
      <input class='form-input' name="user-name" type='text' ng-model='user.username' required/>
  </div>
  <div class="form-group">
      <label for="user-password">Password: </label>
      <input class='form-input' name="user-password" type="password" ng-model='user.password'/>
  </div>
  <div class="form-group">
      <label for="user-vault">Vault: </label>
      <select class='form-input' name="user-vault" ng-model="user.vault" ng-options="vault as vault.Name for vault in vaults"></select>
  </div> 
  <br>
  <button id="signin-button">Sign into Vault</button>
  </form>
</div>
